/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$metallic-gold: #d4af37 !default;
$dark-gold: #b29126 !default;

$primary: $metallic-gold !default; // theme's primary color, also used for $navbar-bg (navbar background color)
$link-color: #8170ad !default; // color for text with hyper-links

$navbar-fg: $white !default; // color of elements on the navigation bar
$navbar-hl: #4c4028 !default; // color of elements on the navigation bar when being chosen

$toc-color: $white; // color of "current" section name in the TOC 
$toc-font-size: 0.925rem !default; // font size of text in the TOC

/* Base fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300;0,600;0,700;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=family=Roboto+Serif:wght@600&family=Roboto+Slab&display=swap');

$font-family-base: "Lato", "Source Sans Pro", "Nunito", "Roboto", sans-serif !default;
$font-nav-items: "Cormorant Garamond", "Roboto Slab", "Roboto Serif", sans-serif !default;
$headings-font-family: "Libre Baskerville", $font-nav-items !default;

/*-- scss:rules --*/

#title-block-header.quarto-title-block.default .quarto-title .title {
    font-family: $headings-font-family;
    font-size: $font-size-base * 2.5;
  }

/* Top navigation bar */

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
}

nav .nav-item:not(.compact){
    font-family: $font-nav-items;
    font-weight: 700;
    line-height: 25px;
    font-size: $font-size-base * 1.5;
    
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');
.navbar-title{
    font-family: "Satisfy", "Courgette", "cursive";
    font-size: $font-size-base * 2.25;
}

/* table of contents (see quarto-1.1.251/share/formats/html/bootstrap/_bootstrap-rules.scss) */

.sidebar nav[role="doc-toc"] > ul a {
    border-left: 3px solid $gray-200;
    padding-left: 0.6rem;
}

.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
    border-left: 1px solid $toc-color;
    color: $toc-color !important;
    display: table; /* keep the background color wrapped tight */
    background-color: #c18152;
  }
  
.sidebar nav[role="doc-toc"] ul > li > a.active {
    border-left: 1px solid $toc-color;
    color: $toc-color !important;
    display: table; /* keep the background color wrapped tight */
    background-color: #c18152;
}