h5 {
    margin-bottom: 0pt;
    margin-top: 1.5rem;
}

h1 {
    margin-top: 30pt;
    margin-bottom: 30pt;
    margin-left: 10pt;
    margin-right: 10pt;
    font-size: 16pt;
    color: #495057;
    text-align: center;
}

body {
    text-align: center;
    font-size: 18pt;
}
  